@import "_page-curriculum-vitae.sass"

// TYPOGRAPHY

// bold

b, strong
  font-weight: 600

// COMPONENTS

// header

header#document-header
  @include media-breakpoint-up(desktop)
    .primary-menu > .container,
    #navigation,
    .menu-primary
      display: flex
      flex: auto
      gap: $grid-gutter
    .menu .nav-level-1 > li
      & > a
        position: relative
        color: $color-text
        display: inline-block
        &.active::before
          @include media-breakpoint-up(desktop)
            content: ""
            position: absolute
            left: 0
            bottom: calc(-#{$header-nav-padding-y-desktop} - #{$border-width})
            height: $border-width
            width: 100%
            background-color: $color-text
            z-index: 0
  @include media-breakpoint-down(desktop)
    border-bottom: $border
  .dropdown-menu
    padding-top: $spacing-4
    border-top: $border
    position: absolute
    z-index: 10
    animation: none
    & .nav-level-2 li:not(:first-child)
      @include media-breakpoint-up(desktop)
        margin-top: $spacing-3

html.has-menu-opened header#document-header
  .menu a
    &[aria-expanded="false"]
      color: $color-text-alt
    &[aria-expanded="true"]
      color: $color-text

// logo

footer#document-footer .logo .logo-text, header#document-header .logo .logo-text
  @include media-breakpoint-down(desktop)
    font-size: $body-size
  @include media-breakpoint-up(desktop)
    font-size: $body-size-desktop

// search

.search-button--secondary-menu span
  @extend .sr-only
.search-button--secondary-menu
  @include icon(search-line, after)

//breadcrumb

.breadcrumb li
  &.active
    color: $color-text-alt

// footer

footer#document-footer
  border-top: $border
  @include media-breakpoint-up(desktop)
    .container
      padding-bottom: 0
      & + .container
        padding-top: $spacing-4
  .footer-credit
    color: $color-text-alt

// button

// button hero categories (temporaire)
.projects_categories__term hgroup.has-lead > p:last-child
  margin-top: $spacing-4
  > a:last-child
    appearance: none
    cursor: 
    user-select: none
    font-family: $btn-font-family
    font-size: $btn-font-size
    font-style: $btn-font-style
    font-weight: $btn-font-weight
    line-height: $btn-line-height
    text-transform: $btn-text-transform
    text-decoration: none
    color: $btn-color
    background-color: $btn-background
    border: $btn-border
    border-radius: $btn-border-radius
    padding: $btn-padding //$btn-padding-small
    min-width: $btn-min-width
    text-align: center
    display: inline-block
    transition: background $button-duration
    &:hover
      color: $btn-hover-color
      background-color: $btn-hover-background
      border: $btn-hover-border
    &:disabled
      color: $btn-disabled-color
      background-color: $btn-disabled-background
      border: $btn-disabled-border
    @include media-breakpoint-up(desktop)
      font-size: $btn-font-size-desktop
      padding: $btn-padding-desktop
      padding-small: $btn-padding-small-desktop
      border: $btn-border-desktop
      border-radius: $btn-border-radius-desktop
      min-width: $btn-min-width-desktop

// Ne pas afficher le bouton présent dans le texte dans un bloc catégorie (temporaire)
.categories .rich-text p:last-child
  display: none

// hero

.hero
  border-bottom: $border
  .content h1 > span
    @include media-breakpoint-up(desktop)
      margin-top: $spacing-3
      font-size: $h2-size-desktop
      line-height: $h2-line-height
      font-weight: $h2-weight
  .content .hero-actions
    margin-top: $spacing-4

// person

.person,
.persons__page .hero
  picture img
    filter: grayscale(100%)
    transition: filter $default-duration ease

.person:hover picture img,
.persons__page .hero picture:hover img
  filter: none

.avatar
  border-radius: 0

// siblings

.siblings-navigation ul li
  a
    font-size: $body-size-desktop
    color: $color-text
  span
    color: $color-text-alt
  a, span
    transition: color $default-duration ease
  &:hover
    a,
    span
      color: $color-text

// pagination

.pagination
  margin-top: 0
  padding-top: $spacing-5
  border-top: $border

// toc

.toc-container
  @include in-page-with-sidebar
    .toc-content
      overflow-y: visible
  .toc ol li a
    position: relative
    display: block
    color: $color-text-alt
    text-decoration: none
    &::before
      content: ""
      position: absolute
      top: 0
      bottom: 0
      left: 0
      width: $border-width
      background-color: transparent
      transition: background-color $default-duration ease
      transform: translateX(-1rem)
    &:hover
      color: $color-text
    &.active
      color: $color-text
      &::before
        background-color: $color-border

// category

.projects__page:not(.full-width) .project-sidebar .project-infos,
.post-infos
  a
    color: $color-text

// organization

.organization
  .media
    border: $border-width solid transparent
    transition: border-color $default-duration ease
  img
    filter: grayscale(100%)
    transition: filter $default-duration ease

.organization:hover
  .media
    border-color: $color-border
  img
    filter: none
  
.organizations.with-summaries .organization .organization-content .organization-title
  font-weight: 500

// BLOCKS

.block
  @include in-page-without-sidebar
    border-bottom: $border
    margin-top: 0
    margin-bottom: 0
    @include media-breakpoint-down(desktop)
      padding-top: $block-space-y
      padding-bottom: $block-space-y
    @include media-breakpoint-up(desktop)
      padding-top: $block-space-y-desktop
      padding-bottom: $block-space-y-desktop
    &:last-child
      border-bottom: none

// page

.block-pages--list
  @include in-page-without-sidebar
    .top .description p
      font-size: $quote-size-desktop-long
      line-height: $quote-line-height-desktop

// contact

.block-contact h3,
.contacts-details ul li > span
  color: $color-text-alt

// project

body.full-width .projects--list
  article.project
    & .project-title,
    & .project-subtitle
      @include media-breakpoint-down(desktop)
        font-size: $h3-size
        line-height: $h3-line-height
      @include media-breakpoint-up(desktop)
        font-size: $h3-size-desktop
        line-height: $h3-line-height-desktop
      & a:hover
        color: $color-text
    & .project-subtitle
      @include media-breakpoint-up(desktop)
        font-size: $body-size-desktop
        margin-top: $spacing-2
  article [class$="-content"]
    @include media-breakpoint-up(desktop)
      flex: none
      width: $content-width
    @include media-breakpoint-down(desktop)
      width: auto

.projects--list
  & > li:first-child
    padding-top: 0
  & > li:last-child
    padding-bottom: 0
  & .project
    @include media-breakpoint-up(desktop)
      flex-direction: row-reverse
      justify-content: start
    @include media-breakpoint-down(desktop)
      flex-direction: column

.project-summary
  margin-top: $spacing-2
  .rich-text > p
    line-height: $body-line-height

// post

.block-posts--list
  article
  @include in-page-without-sidebar
    article
      padding-bottom: $spacing-3
      .post-content
        width: $content-width
      + article
        margin-top: $spacing-3
    article:has(.media:empty) [class$="-content"]
      margin-left: $content-margin-left
    .post:last-child
      padding-bottom: 0

.posts--list .post-title a
  position: relative
  @include icon(arrow-right-line, after, true) // garde le mixin, utilise bien ::after
  text-decoration: none
  &::after
    display: inline-block
    vertical-align: middle
    margin-left: 0.25rem
    transform: translateX(0)
    opacity: 0
    transition: transform $arrow-duration $arrow-ease-transition, opacity $arrow-duration $arrow-ease-transition
    position: relative !important // important pour forcer inline, pas absolute
    top: auto
    left: auto

.posts--list article:hover .post-title a::after
  transform: translateX(0.625rem)
  vertical-align: baseline
  opacity: 1

.post .post-subtitle
  @include media-breakpoint-up(desktop)
    font-size: $body-size-desktop
    margin-top: $spacing-2

// cta

.block-call_to_action
  @include in-page-without-sidebar
    .call_to_action--without-image:not(.call_to_action--without-text) > div .actions
      grid-column: 9/13
    .block-content
      padding-top: 0
      padding-bottom: 0

// person

.block-persons
  .person-name
    font-weight: 500

// SECTIONS

// post

.posts_categories__term,
.posts__section
  & .posts--list
    article
      margin-bottom: $spacing-4
      padding-bottom: $spacing-4
      &:last-child
        margin-bottom: 0
        padding-bottom: 0
        border: none

// project

.projects__section
  .projects--list
    & > li:first-child
      padding-bottom: $spacing-4
      padding-top: 0
    & > li:not(:first-child)
      padding-bottom: $spacing-4
      padding-top: $spacing-4
  .project-categories
    margin-bottom: 0

// PAGES

// project

.projects__page .hero .container
  padding-right: 0
  .content
    gap: $grid-gutter-xxl
    .hero-text
      width: $content-width

// person

.persons__page .backlinks
  & > .block,
  & > *
    &:first-child
      border-top: $border
    @include media-breakpoint-up(desktop)
      padding-top: $block-space-y-desktop
      margin-top: 0
    &:last-child    
     padding-bottom: 0

// organization
  
.organizations__page .backlinks
  & > .block,
  & > *
    &:first-child
      border-top: $border
    padding-top: 0
    padding-bottom: 0