// Header
header#document-header nav.primary-menu
    @include media-breakpoint-up(desktop)
    > .container
        justify-content: start
        gap: $grid-gutter

#navigation
  display: flex
  justify-content: space-between
  align-items: center
  gap: $grid-gutter

// .menu-items-primary
//     display: flex

// .menu-items-secondary
//     display: flex
//     align-items: center
