{{ partial "organizations/single/hero.html" . }}
{{ partial "organizations/single/pagefind.html" . }}

{{/* Conteneur de présentation rendu seulement s'il a du contenu.
     Logo déplacé dans le hero : cf. override organizations/single/hero.html */}}
{{ $presentation := printf "%s%s"
  (partial "organizations/single/summary.html" .)
  (partial "organizations/single/presentation.html" .)
}}

<div class="document-content">

  {{ with trim $presentation " \n\t\r" }}
    <div class="container">
      <div itemprop="articleBody" class="organization-presentation-container">
        {{ . | safeHTML }}
      </div>
    </div>
  {{ end }}

  {{ partial "organizations/single/sidebar.html" . }}

  {{ partial "contents/list.html" (dict
    "context" .
    "contents" .Params.contents
  ) }}

  {{ if site.Params.organizations.single.backlinks }}
    {{ partial "contents/backlinks.html" . }}
  {{ end }}
</div>