{{ $primary := partial "GetMenu" "primary" }}
{{ $secondary := partial "GetMenu" "secondary-menu" }}

<header id="document-header" role="banner">
  <nav class="primary-menu" aria-label="{{ i18n "commons.menu.main" }}">
    <div class="container">
      {{ partial "header/logo.html" }}
      {{ if or $primary.items $secondary.items }}
        {{ partial "header/button.html" }}
        <div class="menu" id="navigation">
          {{ if $primary.items }}
          <div class="menu-primary">
            {{ partial "commons/menu.html" (dict
                "kind" "primary"
                "dropdown" true
                "level" 1
                "context" .
            ) }}
            </div>
          {{ end }}
          {{ if $secondary.items }}
            <div class="menu-secondary">
              {{ partial "commons/menu.html" (dict
                "kind" "secondary-menu"
                "level" 1
                "context" .
              ) }}
            </div>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </nav>
</header>